@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');

:root {
    --color-1: rgb(7, 114, 255);
    --color-2: #fff;
    --color-3: rgb(8, 93, 204);
    --color-4: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body h1 {
    font-family: 'Fraunces', ;
}

/* barra de navegação*/

.nav-container {
    width: 100%;
    height: 100px;
    background: var(--color-1);
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-img img {
    width: 150px;
}

/*------------------------------------*/

/* main e section*/

.generic-section {
    width: 100%;
    padding: 20px;
}

.generic-section h1 {
    padding-bottom: 20px;
}

.div-card {
    width: 100%;
    height: 220px;
    max-width: 960px;
    display: flex;
    background: var(--color-2);
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.div-card img {
    width: 110px;
    height: 130px;
    margin: 40px 0 0px 10px;
}

.div-text {
    max-width: 600px;
    padding: 20px;
}

.div-text p {
    padding-bottom: 20px;
    font-size: 14px;
}

.div-text h2 {
    padding-bottom: 10px;
    font-size: 18px;
}

.div-text button {
    width: 140px;
    height: 40px;
    background: var(--color-1);
    border: none;
    border-radius: 5px;
    color: var(--color-2);
    cursor: pointer;
}

.div-text button:hover {
    background: var(--color-3);
}

.container-buttons {
    width: 100%;
}

.div-buttons {
    width: 100%;
    height: 50px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.div-buttons a {
    text-decoration: none;
    color: var(--color-4);
}

.div-buttons button {
    width: 20px;
    height: 30px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: var(--color-1);
}

.div-footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-2);
}

/*---------------------------------------*/

/*Responsividade*/

@media(min-width: 576px) {
    .div-card {
        width: 100%;
        height: 220px;
        max-width: 960px;
        display: flex;
        background: var(--color-2);
        margin-bottom: 20px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    }

    .div-card img {
        width: 150px;
        height: 180px;
        margin: 20px 0 20px 20px;
    }

    .div-text p {
        font-size: 16px;
    }
    
    .div-text h2 {
        font-size: 20px;
    }

    .div-text button {
        margin-top: 10px;
    }
}

@media(min-width: 768px) {
    .div-card {
        align-items: flex-start;
    }

    .div-text button {
        margin-top: 20px;
    }

}

/*----------------------------------------*/